@font-face {
    font-family: "bebas";
    src: url("fonts/BebasNeue.otf") format("truetype");
    font-weight: normal;
    font-style:normal;
      }
@font-face {
    font-family: "helvetica neue";
    src: url("fonts/HelveticaNeueLTStd Lt.otf") format("truetype");
    font-weight: normal;
    font-style:normal;
      }

.carousel-item{
    height: 100vh;
  }

 


