@font-face {
    font-family: "bebas";
    src: url("./fonts/BebasNeue.otf") format("truetype");
    font-weight: normal;
    font-style:normal;
      }
@font-face {
    font-family: "helvetica neue";
    src: url("./fonts/HelveticaNeueLTStd Lt.otf") format("truetype");
    font-weight: normal;
    font-style:normal;
}
body{
  overflow-x: hidden;
}

a{
  font-size: 12px;
  font-family: helvetica neue;
  letter-spacing: 3px;
}
i{
  color: #be9342;
}
#home-btn>h5{
  font-family: helvetica neue;
  color: white !important;
  letter-spacing: 2px;
}
.title{
  font-family: bebas !important;
  letter-spacing: 2px;    
}
.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;  
  padding: 0px !important;
}
.video-overlay{
  position: absolute;
  width: 100%;
  min-height: 100%;
  background: rgba(0,0,0,.7);
  z-index: -99;
}
.bg-video {
  position: absolute;
  width: auto;  
  min-width: 100vw;   
  z-index: -100; 
}

#content{
  z-index: 1;
}
#title-content{
  margin-bottom: 60px;
  animation-duration: 2s;
}
#home-title{
  font-size: 54px;
  font-family: bebas;
  font-weight: 900;
  letter-spacing: 15px;
  color: white;  
  animation-duration: 3s; 
  animation-delay: 10s;
}
#home-btn{
  background-color: #be9342;
  color: white;
  padding-top: 10px;
  cursor: pointer;
}

#home-box{  
  border-radius: 5px; 
  background-color: rgb(255, 255, 255, 0.1);     
  padding: 30px;
  margin-bottom: 0px;
  animation-delay: 500ms;
  animation-duration: 1.5s;
}


.parallax {
  background-image: url("./images/img01.jpg");  
  width: 100vw;
  height: 100vh;   
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
 .team-member>img{
  width: 100%;
  margin-bottom: 10px;
  filter: grayscale(100%);
 }
.team-member>img:hover{
  animation: hoverImg 800ms;
}

.footer{
  background-color: #151515;
  height: 70px;
}
.footer > div {
  color: white;
}

@keyframes hoverImg{
  from{filter: grayscale(100%);}
  to{filter: grayscale(0%);}
}
