<!doctype html>
<html lang="pt">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
</head>

<body>
    <div class="container-fluid">
        <section>
            <div class="row">
                <div class="col-sm-12 fullscreen-bg">     
                    <div class="video-overlay"></div>           
                    <video autoplay loop class="bg-video" muted="muted">                   
                        <source src="/images/video_bg.mp4" type="video/mp4">                        
                    </video>
                    <div id="content" class="d-flex flex-column">
                        <div class="col-sm-12 d-flex p-5 flex-column align-items-center">
                            <nav class="animated bounceInLeft delay-3s navbar navbar-expand-lg navbar-dark">                           
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                                <div class="navbar-nav">
                                    <a class="nav-item nav-link active" href="#">BARBEARIA <span class="sr-only">(current)</span></a>
                                    <a class="nav-item nav-link" href="#">SERVIÇOS</a>
                                    <a class="nav-item nav-link" href="#">EQUIPE</a>                               
                                </div>
                                </div>
                            </nav>       
                        </div>
                        <div id="title-content" class="animated fadeInUp col-sm-12 d-flex flex-column align-items-center p-5">
                            <span id="home-title" class="p-4">BARBEARIA SEV7N</span>
                            <h5 class="animated fadeIn slower text-white">Amor, dedicação, e excelência.</h5>
                            <div id="home-btn"class="col-sm-4 col-xs-11 d-flex flex-column align-items-center justify-content-center">
                                <h5>AGENDE SEU HORÁRIO <i class="far fa-eye fa-lg" style="color:white"></i></h5>  
                            </div>
                        </div>
                        <div id="home-box" class="animated fadeInUp container">
                            <div class="row d-flex flex-row">
                                <div class="col-sm-4 text-white d-flex flex-row align-items-center"> 
                                    <i class="far fa-clock fa-2x"></i>  
                                    <span class="col-sm-11">
                                        <strong>HORÁRIO DE ATENDIMENTO</strong>
                                        <p class="m-0">Terça à sexta das 09h às 21h
                                                Sábados 08h às 18h</p>
                                    </span>                      
                                </div>
                                <div class="col-sm-4 text-white d-flex flex-row align-items-center">
                                    <i class="fas fa-home fa-2x"></i>  
                                    <span class="col-sm-11">
                                        <strong>LOCALIZAÇÃO</strong>
                                        <p class="m-0">Av. Nossa Senhora da Encarnação, 925
                                                Bairro Vila das Mercês</p>
                                    </span> 
                                </div>
                                <div class="col-sm-4 text-white d-flex flex-row align-items-center"> 
                                    <i class="fas fa-phone fa-2x"></i>  
                                    <span class="col-sm-11">
                                        <strong>AGENDE SEU HORÁRIO</strong>
                                        <p class="m-0">(11) 3205-0415, (11) 3205-0415,
                                            (11) 3205-0415</p>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>  
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12 d-flex flex-column align-items-center p-5">
                    <h1 class="title">BARBEARIA</h1>
                </div>
            </div>     
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12 d-flex flex-column align-items-center">
                    <div class="parallax p-5 text-center">
                        <h4 class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus nisi debitis, asperiores molestiae non iste, tenetur maiores repellat amet, tempora rerum impedit? Fugit animi error corporis sapiente deserunt, dolorum minima.</h1>
                    </div>
                </div>
            </div>     
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12 d-flex flex-column align-items-center p-5">
                    <h1 class="title">NOSSA EQUIPE</h1>   
                    <div class="team-wrapper col-md-12 d-md-flex ali justify-content-center p-2">                 
                        <div class="col-md-2 col-xs-12 team-member d-flex flex-column align-items-center">
                            <img src="/images/barber01.jpg" alt="">
                            <h5 class="title">Nome Barbeiro</h5>
                        </div>
                        <div class="col-md-2 col-xs-12 team-member d-flex flex-column align-items-center">
                            <img src="/images/barber01.jpg" alt="">
                            <h5 class="title">Nome Barbeiro</h5>
                        </div> 
                        <div class="col-md-2 col-xs-12 team-member d-flex flex-column align-items-center">
                            <img src="/images/barber01.jpg" alt="">
                            <h5 class="title">Nome Barbeiro</h5>
                        </div>
                        <div class="col-md-2 col-xs-12 team-member d-flex flex-column align-items-center">
                            <img src="/images/barber01.jpg" alt="">
                            <h5 class="title">Nome Barbeiro</h5>
                        </div>   
                        <div class="col-md-2 col-xs-12 team-member d-flex flex-column align-items-center">
                            <img src="/images/barber01.jpg" alt="">
                            <h5 class="title">Nome Barbeiro</h5>
                        </div>                
                    </div>
                </div>
            </div>     
        </section>
        <section>
            <div class="footer row text-center d-flex justify-content-center align-items-center">
                <h6 class="text-white">Copyright - Barbearia Sev7n</h6>
            </div>     
        </section>
        
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>    
    <script type='text/javascript'>
        setTimeout(()=>{
            document.getElementsByTagName("video")[0].play();
        }, 100);
        
    </script>

</body>

</html>